<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Petstagram</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
 <style>
    .container {
  margin-top: 50px;
}

.btn-primary {
  display: block;
  margin-right: 0;
}
  </style>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">🐶</span>
        <a href="/">Petstagram</a>
      </h1>
      <nav class="display-flex justify-space-around">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Your Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
        <button><a href="/new-post">~NEW POST~</a></button>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>